<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <h1>
    Administrador de Memes
  </h1>


  <table>
    <thead>
      <tr>
        <th> Id Memes </th>
        <th> Origen </th>
        <th> Idioma </th>
        <th> Año </th>
        <th> Opciones</th>
      </tr>

    </thead>

    <tbody>

      <tr>

        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    </tbody>
  </table>

</body>

</html>